orbs:
  docker: circleci/docker@1.5.0
version: 2.1
workflows:
  build-and-publish-docker-image:
    jobs:
      - docker/publish:
          image: alphabet5/squid
          tag: latest
  nightly:
    triggers: #use the triggers key to indicate a scheduled build
      - schedule:
          cron: "0 0 * * *" # use cron syntax to set the schedule
          filters:
            branches:
              only:
                - main
    jobs:
      - docker/publish:
          image: alphabet5/squid
          tag: latest